body{
    background:#efefef
}

.mui-poppicker.mui-active {
    z-index: 9999;
}

.section-title {
    height: 50px;
    font-size: 17px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    background: #4086ec;
    color: white;
    margin: 30px 0 0 0;
    border-bottom: 1px solid #fafafa;
    font-weight: bold;
}

/* .itemPic {
    opacity: 0;
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    bottom: 0;
    left: 0;
} */

.customized-btn {
    background: white;
    color: #2485f4;
    font-size: 17px;
    right: 10px !important;
    /* top: 17% !important; */
    height: 66% !important;
    padding: 6px !important;
    line-height: 100% !important;
}

.ultra-item .iconfont {
    width: 20%;
    position: absolute;
    right: 0;
    font-size: 30px;
    text-align: center;
    border-left: 1px solid #fafafa;
    margin-right: -2.5%;
    pointer-events: all;
}




.collection {
	width: 100%;
	background: white;
	/* padding: 1.5%; */
	/* margin: 0 0 80px 0; */
}

.collection .itemWrapper {
	width: 24%;
	height: 80px;
	display: inline-block;
	padding: 1.5%;
	position: relative;
}

.collection .itemWrapper:last-child.addPic {
	width: 23.5%;
	display: inline-grid;
}

.collection .itemWrapper:last-child.addPic:active {
	opacity: .7;
}

.collection .itemWrapper .itemPic {
	height: 100%;
	overflow: hidden;
	border-radius: 7px;
}

.collection .itemWrapper .itemPic img {
    height: 100%;
    width: 100%;
}

.collection .itemWrapper .itemPic .thumbnail {
	display: block;
}

.icon-close {
	width: 20px;
	height: 20px;
	position: absolute;
	color: #c2bdbd;
	font-size: 20px;
	z-index: 1000;
	top: -7px;
	right: -3px;
	opacity: .6;
	pointer-events: auto !important;
}

.addMore {
	height: 100%;
	width: 100%;
	border: 3px solid #e4e4e4;
	border-radius: 8px;
	position: relative;
}

.icon-addMore {
	font-size: 32px !important;
	position: absolute !important;
	height: 100%;
	width: 100% !important;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #dad7d7;
}

.toast {
	border: 0;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width: 70px;
	background-color: #007aff;
	color: #fff;
}

#imglist {
	text-overflow: ellipsis;
	/*设置文字超出文本框的内容显示成...*/
	overflow: hidden;
}

.img-select-box {
	padding: 0 4%;
	background-color: #fff;
}

.ultra-bottom-btns {
	z-index: 1111;
}

* {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}

input {
	font-size: 20px;
	color: #d1d1d1;
	font-weight: 400;
}

input.number-input {
	width: 100%;
	height: 55px;
	line-height: 55px;
	text-align: center;
	padding: 0 20px;
	border-radius: 10px;
	border: 0;
	-webkit-box-shadow: 0px 0px 17px -1px rgba(132, 132, 132, 0.15);
	-moz-box-shadow: 0px 0px 17px -1px rgba(132, 132, 132, 0.15);
	box-shadow: 0px 0px 17px -1px rgba(132, 132, 132, 0.15);
}

.wrapper {
	width: 90%;
	background: white;
	position: fixed;
	z-index: 1000000000;
	bottom: 0;
	margin: 5%;
	border-radius: 15px;
	box-shadow: 0px 9px 18px #0d3875;
}

.for-select {
	display: block;
	width: 100%;
	font-size: 22px;
	color: #3f86ec;
	line-height: 65px;
	text-align: center;
}

.for-select:active {
	opacity: .7;
}

.for-select+.for-select {
	border-top: 1px solid #f1f1f1;
}